<% include ../partials/header %>


<div class= "container">
<header class = "jumbotron">
    
    <div class="container">
    
    <h1>Welcome to YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world </p>
    
    <p>
    <a class ="btn btn-primary btn-large" href="/campgrounds/new">Add a new campsite</a>
    </p>
    </div>
</header>



<div class="row text-center" style="display:flex; flex-wrap:wrap;">
    
<%campgrounds.forEach(function(items){ %>

<div class="col-md-3 col-sm-6">
    <div class="thumbnail">
        <img src="<%=items.image%>">
        <div class="caption">
            <h4><%=items.name%></h4>
        </div>
        <p>
            <!-- Here we are seeing that /campgrounds/items.id, items is the name given in the forEach loop -->
            <a href="/campgrounds/<%= items._id %>" class="btn btn-primary">More Info</a>
        </p>
    </div>

</div>
<%});%>

</div>
</div>
<% include ../partials/footer %>